@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --teal: #113946;
    --tan: #BCA37F;
    --brown: #3F2305;
    --wheat: #DFD7BF;
    --lightBeige: #f3e5c8;
    --peach: #EAD7BB;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--lightBeige);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    left: 280px;
    width: 100%;
    height: 70px;
    background-color: var(--peach);
    box-shadow: 0 0 10px rgb(50, 64, 68);
    z-index: 1;
}

.topbar .toggle {
    margin: 20px 30px;
}

.topbar i {
    color: var(--tan);
    font-size: 1.5rem;
    cursor: pointer;
}

.topbar .toggle i:hover {
    color: var(--teal);
}

.topbar .toggle .closeSideBarMenu {
    transition: opacity 0.5s ease;
}

.topbar .toggle .sideBarMenuToggle {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, display 0.5s ease;
}

.topbar .header-functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 60px;
    top: 20px;
}

.topbar .header-functions .theme-icon {
    margin-right: 30px;
}

.topbar .header-functions .theme-icon:hover i,
.aboutUs-icon:hover i {
    color: var(--teal);
}

.container {
    position: relative;
    width: 100%;
    z-index: 1;
}

.navbar {
    position: fixed;
    width: 280px;
    height: 100%;
    background: var(--wheat);
    box-shadow: 0 0 10px rgb(50, 64, 68);
    transition: 0.5s;
    overflow: hidden;
}

.navbar .logo img {
    width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 40px;
}

.navbar .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    margin: 40px 40px 0;
    cursor: pointer;
    transition: 0.5s;
    border: 5px solid transparent;
}

.navbar .profile img:hover {
    border: 5px solid var(--teal);
    border-radius: 50%;
}

.navbar .profile span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 3%;
    font-size: 20px;
}

.navbar ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 100px;
}

.navbar ul li {
    list-style: none;
    margin-left: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--brown);
}

.navbar ul li a .icon {
    display: inline-block;
    min-width: 40px;
    height: 60px;
    line-height: 60px;
}

.navbar ul li a .title {
    display: inline-block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: var(--tan);
}

main section .dashboard-container {
    position: absolute;
    left: 280px;
    top: 70px;
    width: 100%;
    min-height: 100%;
    margin: 80px 80px;
    z-index: 0;
}

.dashboard-container .dashboard-title {
    display: flex;
    align-items: center;
}

.dashboard-container .dashboard-title i {
    color: var(--tan);
    font-size: 25px;
    vertical-align: middle;
}

.dashboard-container .dashboard-title h3 {
    color: var(--teal);
    font-size: 35px;
    margin-left: 10px;
}

section nav ul {
    display: flex;
    align-items: center;
    gap: 3.5em;
    list-style: none;
    margin: 50px 0;
}

section nav ul li a {
    color: var(--brown);
    text-decoration: none;
    font-size: 18px;
}

section nav ul li a:hover {
    color: var(--tan);
}

section .dashboard-utilities {
    display: flex;
    align-items: center;
}

section .searchBar {
    display: flex;
    align-items: center;
    background-color: var(--peach);
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(50, 64, 68, 0.247);
    margin-right: 40px;
}

section .searchBar input {
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 10px;
}

section .searchBar input::placeholder {
    color: var(--tan);
    font-style: italic;
}

section .searchBar button {
    border-radius: 0 10px 10px 0;
    margin-left: 15px;
    width: 60px;
    height: 40px;
    vertical-align: middle;
    border: 1px solid rgba(50, 64, 68, 0.388);
    color: var(--brown);
    background-color: var(--wheat);
    cursor: pointer;
}

section .dropdownMenu {
    margin-right: 40px;
}

section .dropdownMenu select {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(50, 64, 68, 0.388);
    color: var(--tan);
    background-color: var(--peach);
    outline: none;
}

section .refreshButton button {
    background-color: var(--tan);
    color: var(--peach);
    font-size: 13px;
    border-radius: 16px;
    border: 0;
    width: 100px;
    height: 40px;
    box-shadow: 0 0 10px rgba(50, 64, 68, 0.388);
    cursor: pointer;
    transition: 0.5s;
}

section .refreshButton button:hover i {
    animation: spin 0.6s ease-in;
}

.addButton {
    margin-left: 35%;
}

.addButton button {
    background-color: var(--brown);
    color: var(--peach);
    font-size: 13px;
    border-radius: 50px;
    border: 0;
    padding: 18px;
    box-shadow: 0 0 10px rgba(50, 64, 68, 0.388);
    cursor: pointer;
    transition: 0.5s;
}

.addButton button:hover {
    transform: scale(1.05);
}

table {
    width: 75%;
}

.listDashboard {
    margin-top: 100px;
    display: flex;
    white-space: nowrap;
}

.listDashboard th {
    color: var(--tan);
    font-weight: 300;
    font-size: 13px;
}

.listDashboard tbody tr {
    background-color: var(--wheat);
    height: 50px;
    color: var(--brown);
}

.listDashboard tbody td {
    border-radius: 7px;
    padding-left: 30px;
    width: 500px;
}

.listDashboard tbody td i {
    display: inline-block;
    align-items: center;
    padding-left: 20px;
    position: relative;
    left: 20px;
    cursor: pointer;
}

/* Animations */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes transition1 {
    0% {
        transform: rotate(360deg);
        opacity: 1;
    }
    100% {
        transform: rotate(0);
        opacity: 0;
    }
}

@keyframes transition2 {
    0% {
        transform: rotate(0);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes slide {
    from {
        left: 280px;
    }
    to {
        left: 0;
    }
}

@keyframes shrink {
    from {
        width: 280px;
    }
    to {
        width: 0;
    }
}

@keyframes expand {
    from {
        width: 0;
    }
    to {
        width: 280px;
    }
}

@keyframes backSlide {
    from {
        left: 0;
    }
    to {
        left: 280px;
    }
}