@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --teal: #113946;
    --teal2: #1c5061;
    --tan: #BCA37F;
    --brown: #3F2305;
    --wheat: #DFD7BF;
    --lightBeige: #f3e5c8;
    --peach: #EAD7BB;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--lightBeige);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    left: 280px;
    width: 100%;
    height: 70px;
    background-color: var(--peach);
    box-shadow: 0 0 10px rgb(50, 64, 68);
    z-index: 1;
}

.topbar .toggle {
    margin: 20px 30px;
}

.topbar i {
    color: var(--tan);
    font-size: 1.5rem;
    cursor: pointer;
}

.topbar .toggle i:hover {
    color: var(--teal);
}

.topbar .toggle .closeSideBar {
    transition: opacity 0.5s ease;
}

.topbar .toggle .sideBarMenuToggle {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, display 0.5s ease;
}

.topbar .profileHeader {
    display: none;
}

.topbar .header-functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 60px;
    top: 20px;
}

.topbar .header-functions .theme-icon {
    margin-right: 30px;
}

.signOutButton, .supportHeaderButton {
    display: none;
}

.topbar .header-functions .theme-icon:hover i,
.github-icon:hover i {
    color: var(--teal);
}

.container {
    position: relative;
    width: 100%;
    z-index: 1;
}

.navbar {
    position: fixed;
    width: 280px;
    height: 100%;
    background: var(--wheat);
    box-shadow: 0 0 10px rgb(50, 64, 68);
    transition: 0.5s;
    overflow: hidden;
}

.navbar .logo img {
    width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 40px;
}

.navbar .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    margin: 40px 40px 0;
    cursor: pointer;
    transition: 0.5s;
    border: 5px solid transparent;
}

.navbar .profile img:hover {
    border: 5px solid var(--teal);
    border-radius: 50%;
}

.navbar .profile span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 3%;
    font-size: 20px;
}

.navbar ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 100px;
}

.navbar ul li {
    list-style: none;
    margin-left: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--brown);
}

.navbar ul li a .icon {
    display: inline-block;
    min-width: 40px;
    height: 60px;
    line-height: 60px;
}

.navbar ul li a .title {
    display: inline-block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: var(--tan);
}

main section .dashboard-container {
    position: absolute;
    left: 280px;
    top: 70px;
    width: 100%;
    min-height: 100%;
    margin: 80px 80px;
    z-index: 0;
}

.dashboard-container .dashboard-title {
    display: flex;
    align-items: center;
}

.dashboard-container .dashboard-title i {
    color: var(--tan);
    font-size: 25px;
    vertical-align: middle;
}

.dashboard-container .dashboard-title h3 {
    color: var(--teal);
    font-size: 35px;
    margin-left: 10px;
}

section nav ul {
    display: flex;
    align-items: center;
    gap: 3.5em;
    list-style: none;
    margin: 50px 0;
}

.currentList {
    border-bottom: 2px solid var(--teal2);
    color: var(--teal2);
    font-weight: 600;
}

section nav ul li a {
    color: var(--brown);
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li .currentPage {
    color: var(--tan);
}

.navbar ul li .currentPage::after {
    content: '';
    width: 5px;
    height: 40px;
    background-image: linear-gradient(45deg, var(--tan), var(--brown));
    position: absolute;
    top: 10px;
    left: 0;
}

section nav ul li a:hover {
    color: var(--tan);
}

section .dashboard-utilities {
    display: flex;
    align-items: center;
}

section .searchBar {
    display: flex;
    align-items: center;
    background-color: var(--peach);
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(50, 64, 68, 0.247);
    margin-right: 40px;
}

section .searchBar input {
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 10px;
}

section .searchBar input::placeholder {
    color: var(--tan);
    font-style: italic;
}

section .searchBar button {
    border-radius: 0 10px 10px 0;
    margin-left: 15px;
    width: 60px;
    height: 40px;
    vertical-align: middle;
    border: 1px solid rgba(50, 64, 68, 0.388);
    color: var(--brown);
    background-color: var(--wheat);
    cursor: pointer;
}

section .dropdownMenu {
    margin-right: 40px;
}

section .dropdownMenu select {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(50, 64, 68, 0.388);
    color: var(--tan);
    background-color: var(--peach);
    outline: none;
}

section .refreshButton button {
    background-color: var(--tan);
    color: var(--peach);
    font-size: 13px;
    border-radius: 16px;
    border: 0;
    width: 100px;
    height: 40px;
    box-shadow: 0 0 10px rgba(50, 64, 68, 0.388);
    cursor: pointer;
    transition: 0.5s;
}

section .refreshButton button:hover i {
    animation: spin 0.6s ease-in;
}

.addButton {
    margin-left: 35%;
}

.addButton button {
    background-color: var(--brown);
    color: var(--peach);
    font-size: 13px;
    border-radius: 50px;
    border: 0;
    padding: 18px;
    box-shadow: 0 0 10px rgba(50, 64, 68, 0.388);
    cursor: pointer;
    transition: 0.5s;
}

.addButton button:hover {
    transform: scale(1.05);
}

table {
    width: 75%;
}

.listDashboard {
    margin-top: 100px;
    display: flex;
    white-space: nowrap;
}

.listDashboard th {
    color: var(--tan);
    font-weight: 300;
    font-size: 13px;
}

.listDashboard tbody tr {
    background-color: var(--wheat);
    height: 50px;
    color: var(--brown);
}

.listDashboard tbody td {
    border-radius: 7px;
    padding-left: 30px;
    width: 500px;
}

.listDashboard tbody td i {
    display: inline-block;
    align-items: center;
    padding-left: 20px;
    position: relative;
    left: 40px;
    cursor: pointer;
}

/* Animations */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes transition1 {
    0% {
        transform: rotate(360deg);
        opacity: 1;
    }
    100% {
        transform: rotate(0);
        opacity: 0;
    }
}

@keyframes transition2 {
    0% {
        transform: rotate(0);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes slide {
    from {
        left: 280px;
    }
    to {
        left: 0;
    }
}

@keyframes mainSlide {
    from {
        left: 280px;
    }
    to {
        left: 140px;
    }
}

@keyframes shrink {
    from {
        width: 280px;
    }
    to {
        width: 0;
    }
}

@keyframes expand {
    from {
        width: 0;
    }
    to {
        width: 280px;
    }
}

@keyframes backSlide {
    from {
        left: 0;
    }
    to {
        left: 280px;
    }
}

@keyframes mainBackSlide {
    from {
        left: 140px;
    }
    to {
        left: 280px;
    }
}

/* Mobile Accessibility */

@media screen and (max-width: 1300px) {
    header {
        left: 200px;
    }

    .closeSideBar {
        display: none;
    }

    .container {
        position: relative;
        width: 100%;
        z-index: 1;
    }
    
    .navbar {
        width: 200px;
        height: 100%;
    }
    
    .navbar .logo img {
        width: 160px;
        margin: 25px 20px;
    }
    
    .navbar .profile img {
        transform: scale(0.8);
        margin: 40px 0 0;
    }
    
    .navbar .profile span {
        font-size: 16px;
    }
    
    .navbar ul {
        margin-top: 80px;
    }
    
    .navbar ul li {
        margin-left: 30px;
    }
    
    .navbar ul li a .icon {
        min-width: 30px;
        height: 50px;
    }
    
    .navbar ul li a .title {
        padding: 0;
        font-size: 16px;
    }

    main section .dashboard-container {
        left: 200px;
    }
    
    .dashboard-container .dashboard-title i {
        font-size: 20px;
    }
    
    .dashboard-container .dashboard-title h3 {
        font-size: 30px;
    }
    
    section nav ul {
        gap: 2em;
    }
    
    section nav ul li a {
        font-size: 16px;
    }
    
    section .searchBar {
        width: 210px;
        height: 30px;
        margin-right: 20px;
    }
    
    section .searchBar button {
        margin-left: 0;
        height: 30px;
    }
    
    section .dropdownMenu {
        margin-right: 20px;
    }
    
    section .dropdownMenu select {
        width: 210px;
        height: 30px;
    }
    
    section .refreshButton button {
        font-size: 12px;
        width: 90px;
        height: 35px;
    }
    
    .addButton {
        margin-left: 22%;
    }
    
    .addButton button {
        padding: 16px;
    }
    
    table {
        width: 75%;
    }
    
    .listDashboard tbody td i {
        left: -10px;
    }
}

@media screen and (max-width: 850px) {
    header {
        left: 0;
    }

    .topbar .profileHeader {
        display: inline-block;
        position: fixed;
        top: -70px;
        left: 0;
    }

    .topbar .profileHeader img {
        width: 200px;
        height: 200px;
        transform: scale(0.2);
        border-radius: 50%;
    }

    .closeSideBar {
        display: none;
    }

    .signOutButton, .supportHeaderButton {
        display: inline-block;
        margin-left: 30px;
    }

    .signOutButton i:hover, .supportHeaderButton i:hover {
        color: var(--teal);
    }

    .container {
        display: none;
    }
    
    main section .dashboard-container {
        left: 0;
    }

    .addButton {
        margin-left: 5%;
    }

    .addButton span {
        display: none;
    }

    .addButton button {
        padding: 0;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    table {
        width: 80%;
    }

    .listDashboard {
        margin-top: 60px;
    }

    .listDashboard th {
        font-size: 10px;
    }
    
    .listDashboard tr {
        font-size: 12px;
    }

    .listDashboard tbody td {
        border-radius: 7px;
        padding-left: 10px;
    }

    .listDashboard tbody td i {
        left: -10px;
    }
}

@media screen and (max-width: 768px) {
    .topbar .profileHeader {
        left: -50px;
    }

    .topbar .header-functions {
        right: 30px;
        top: 20px;
    }

    .header-functions i {
        font-size: 20px;
    }

    .signOutButton, .supportHeaderButton {
        display: inline-block;
        margin-left: 30px;
    }

    .signOutButton i:hover, .supportHeaderButton i:hover {
        color: var(--teal);
    }

    .container {
        display: none;
    }
    
    main section .dashboard-container {
        left: 0;
        margin: 80px 15px;
    }
    
    section nav ul {
        gap: 1em;
    }
    
    section nav ul li a {
        font-size: 14px;
    }
    
    section .searchBar {
        width: 150px;
        height: 30px;
        margin-right: 5px;
    }

    section .searchBar input {
        width: 100px;
        margin-left: 10px;
    }
    
    section .searchBar button {
        margin-left: 120px;
        position: absolute;
        width: 30px;
        height: 30px;
    }
    
    section .dropdownMenu {
        margin-right: 10px;
    }
    
    section .dropdownMenu select {
        width: 110px;
        height: 30px;
    }
    
    section .refreshButton button {
        font-size: 10px;
        width: 35px;
        height: 35px;
    }

    section .refreshButton span {
        display: none;
    }

    .addButton {
        margin-left: 2%;
    }

    .addButton span {
        display: none;
    }

    .addButton button {
        padding: 0;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    table {
        width: 94%;
        overflow: hidden;
    }

    .listDashboard {
        margin-top: 60px;
    }

    .listDashboard th {
        font-size: 8px;
    }
    
    .listDashboard tr {
        font-size: 8px;
    }

    .listDashboard tbody td {
        border-radius: 7px;
        padding-left: 3px;
    }

    .listDashboard tbody td i {
        left: 5px;
        padding: 5px;
    }
}