<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../images/Empire_Finance_Network_logos_2/Empire_Finance_Network-logos_transparent_resized.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../css/viewsStyles/bankView.css">
    <title>Banks - Empire Finance Network</title>
</head>
<body>
    <header>
        <div class="topbar">
            <div class="toggle">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="header-functions">
                <div class="notification-icon">
                    <i class="fa-solid fa-moon"></i>
                </div>

                <div class="aboutUs-icon">
                    <a href="#">
                        <i class="fa-regular fa-circle-question"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <nav>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="../../images/Empire_Finance_Network_logos_4/Empire_Finance_Network-logos_transparent_vintage_resized.png">
                </div>

                <ul>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <i class="fa-solid fa-house"></i>
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">
                                <i class="fa-sharp fa-solid fa-screwdriver-wrench"></i>
                            </span>
                            <span class="title">Support</span>
                        </a>
                    </li>

                    <li>
                        <a href="../../Login/index.html">
                            <span class="icon">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </span>
                            <span class="title">Sign out</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <main>
        <section>
            <div class="dashboard-container">
                <span class="dashboard-title">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Banks</h3>
                </span>

                <nav>
                    <ul>
                        <li>
                            <a href="../dashboards/agencyView.html">
                                <span>Agency</span>
                            </a>
                        </li>

                        <li>
                            <a href="../dashboards/accountView.html">
                                <span>Account</span>
                            </a>
                        </li>

                        <li>
                            <a href="../dashboards/peopleView.html">
                                <span>People</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                
                <div class="dashboard-utilities">
                    <div class="searchBar">
                        <input type="text" name="search" placeholder="Search">
                        <button class="searchButton">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>

                    <div class="dropdownMenu">
                        <select id="sortDropdown">
                            <option disabled selected>Sort by</option>
                            <option>Name</option>
                            <option>Data Added</option>
                        </select>
                    </div>

                    <div class="refreshButton">
                        <button>
                            <i class="fa-solid fa-rotate-right"></i>
                            Refresh
                        </button>
                    </div>
                </div>

                <div class="listDashboard">
                    <div class="listDashboardColumnTitles">
                        <ul>
                            <li>
                                <span>Bank ID</span>
                            </li>
                            
                            <li>
                                <span>Bank Name</span>
                            </li>

                            
                        </ul>
                    </div>
                    <ul>
                        <li>
                            <div class="listBox">
                                
                            </div>
                        </li>

                        <li>
                            <div class="listBox">

                            </div>
                        </li>

                        <li>
                            <div class="listBox">

                            </div>
                        </li>

                        <li>
                            <div class="listBox">

                            </div>
                        </li>

                        <li>
                            <div class="listBox">

                            </div>
                        </li>

                        <li>
                            <div class="listBox">

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

</body>
</html>