@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --teal: #113946;
    --tan: #BCA37F;
    --brown: #3F2305;
    --wheat: #DFD7BF;
    --lightBeige: #f3e5c8;
    --peach: #EAD7BB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--lightBeige);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* Box */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: var(--tan);
    width: 500px;
    max-width: 100%;
    min-height: 400px;
    border-radius: 30px 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.514);
    transform: translate(-50%, -50%);
}

.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Title */

.container h1 {
    color: var(--brown);
    display: flex;
    transform: translateY(-30px);
    font-size: 30px;
}

/* Subtitle */

.container p {
    color: var(--brown);
    display: flex;
    transform: translateY(-20px);
    font-size: 15px;
}

/* Input box */

.container .input-box {
    position: relative;
    width: 380px;
    padding: 15px;
    margin: 8px;
    border: 0;
    border-radius: 10px;
    outline: none;
    background-color: var(--wheat);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.685);
}

/* Input */

.container input {
    width: 300px;
    margin: 8px 55px;
    border: 0;
    outline: none;
    background-color: transparent;
}

.container input::placeholder {
    font-style: italic;
    color: var(--tan);
}

/* Input box icon */

.container i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-5px);
    color: var(--tan);
}

/* Separator ("|") between icon and input box */

.container .input-box p {
    position: absolute;
    left: 55px;
    top: 50%;
    transform: translateY(-10px);
    font-size: 14px;
    color: var(--tan);
}

/* 'Reset Password' button */

.container button {
    display: flex;
    background-color: var(--brown);
    color: var(--peach);
    font-size: 15px;
    padding: 13px 50px;
    margin: 0;
    border: 0;
    border-radius: 8px;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.719);
    transform: translateY(30px);
}

@media screen and (max-width: 500px) {
    .container {
        width: 350px;
        max-width: 100%;
        min-height: 400px;
    }

    .container h1 {
        transform: translateY(-30px);
        font-size: 25px;
    }

    .container .input-box {
        position: relative;
        width: 300px;
        padding: 10px;
        margin: 8px;
        transform: translateY(-5px);
    }

    .container input {
        width: 210px;
    }
    
    .container .input-box input::placeholder {
        font-size: 12px;
    }
    
    .container button {
        font-size: 14px;
        padding: 13px 30px;
        font-weight: 800;
        transform: translateY(25px);
    }
}