@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f2e2fa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* Left Box (Login side) */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #009df2;
    width: 500px;
    max-width: 100%;
    min-height: 550px;
    border-radius: 5px 30px;
    position: absolute;
    transform: translate(-40%, 10%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.719);
    z-index: 1;
}

.container .login-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* Login title */

.container .login-container h1 {
    color: #ffe600;
    display: flex;
    transform: translateY(-60px);
    font-size: 35px;
}

/* Input box */

.container .login-container .input-box {
    position: relative;
    width: 380px;
    padding: 15px;
    margin: 8px;
    border: 0;
    border-radius: 10px;
    outline: none;
    background-color: #f2e2fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.788), inset 4px 0 0 rgb(253, 60, 112);
    transform: translateY(-15px);
}

/* Input */

.container .login-container input {
    width: 300px;
    margin: 8px 50px;
    border: 0;
    outline: none;
    background-color: transparent;
}

.container .login-container input::placeholder {
    font-style: italic;
    color: #ff9db7;
}

/* Input box icons */

.container .login-container .input-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-5px);
    color: #ff9900;
}

/* Separator ("|") between icon and input box */

.container .login-container .input-box p {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-10px);
    font-size: 14px;
    color: #ff9db7;
}

/* 'Remember Me' & 'Forgot Password?' wrapper */

.container .login-container .remember-forgot {
    vertical-align: middle;
    font-size: 14px;
    color: #ff9db7;
    position: relative;
    transform: translateY(12px);
}

/* 'Remember Me' checkbox */

.container .login-container .remember-forgot label input {
    width: 15px;
    height: 15px;
    margin: 0;
    vertical-align: middle;
    transform: translate(-10px, -2px);
    accent-color: #ff9db7;
}

/* 'Forgot Password?' Hyperlink */

.container .login-container a {
    color: #ff9db7;
    font-size: 14px;
    margin-left: 97px;
}

/* 'Log in' button */

.container .login-container button {
    display: flex;
    background-color: #fd3c70;
    color: #ffe600;
    font-size: 15px;
    padding: 13px 50px;
    margin: 0;
    border: 0;
    border-radius: 8px;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.658);
    transform: translateY(50px);
}

/* User Icon (Inside 'Log in' Button) */

.container .login-container button i {
    vertical-align: middle;
    transform: translate(-5px, 5px);
    font-size: 12px;
}

/* Right box (Sign Up side) */

.toggle-container {
    background-color: #fd3c70;
    width: 600px;
    max-width: 100%;
    min-height: 650px;
    border-radius: 30px 5px;
    transform: translateX(40%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.514);
    z-index: 0;
}

/* Right box title */

.toggle-container h1 {
    color: #ffee00;
    text-align: center;
    font-size: 35px;
}

/* Subtitle */

.toggle-container p {
    transform: translateY(30%);
    color: #ffe600;
}

/* 'Sign Up' Button */

.toggle-container button {
    background-color: #009df2;
    color: #ffff00;
    transform: translate(55%, 100%);
    font-size: 15px;
    padding: 13px 50px;
    border: 0;
    border-radius: 8px;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.514);
}