@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400&display=swap');

:root {
    --teal: #113946;
    --tan: #BCA37F;
    --brown: #3F2305;
    --wheat: #DFD7BF;
    --lightBeige: #f3e5c8;
    --peach: #EAD7BB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--lightBeige);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: var(--tan);
    width: 600px;
    border-radius: 10px 50px;
    padding: 40px;
    text-align: center;
    color: var(--brown);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.411);
}

#returnButton {
    display: inline-block;
    text-decoration: none;
    transform: translateX(-250px);
    color: var(--brown);
}

#returnButton i {
    cursor: pointer;
}

#returnButton:hover {
    color: var(--peach);
}

.container h1 {
    font-weight: 700;
}

.userIdEditor input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--peach);
    height: 28px;
}

.container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 30px;
    color: var;
}

.container label {
    display: block;
    width: 200px;
    background-color: var(--brown);
    color: var(--peach);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 160px;   
}

.container input[type="file"] {
    display: none;
}

.confirmUpdate {
    margin-top: 20px;
    cursor: pointer;
    background-color: var(--peach);
    color: var(--brown);
    border: 1px solid var(--wheat);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.confirmUpdate:hover {
    border: 1px solid var(--brown);
    color: var(--teal);
}

@media screen and (max-width: 610px) {
    .container {
        background-color: var(--tan);
        width: 350px;
    }

    .container label {
        margin-left: 40px;
    }

    #returnButton {
        transform: translateX(-130px);
    }
}